::-webkit-scrollbar {
    width: 16px
}

::-webkit-scrollbar-button {
    color: #3a4050;
    border-left: 1px solid #282b35
}

::-webkit-scrollbar-button:vertical:start {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAElBMVEX///86QFA6QFA6QFA6QFA6QFAj4/GeAAAABXRSTlMAM3dEIjA+5M4AAAAmSURBVHgBY6AlYGZC47OyMqHxISIIPqoIKxQwwgRYGMGAhWZOBgBEYQCIxAs3LAAAAABJRU5ErkJggg==) #282b35
}

::-webkit-scrollbar-button:vertical:end {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAElBMVEX///86QFA6QFA6QFA6QFA6QFAj4/GeAAAABXRSTlMAM0R3IuJ42jcAAAAoSURBVHgBY6AfYGEEAxa4ACsUMMIEmCB8ZoQeJhgfIQLjI0QQfMoBAEQvAIgA4PW5AAAAAElFTkSuQmCC) #282b35
}

::-webkit-scrollbar-button:horizontal:start {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAADFBMVEX///86QFA6QFA6QFDNKm7MAAAAA3RSTlMAdxHwuAsdAAAAJ0lEQVR42qWOIRIAAAiDVP7/ZztrSoOwW30YeWPHjp0MLjnqkseuLCc0AEkqTEz2AAAAAElFTkSuQmCC) #282b35
}

::-webkit-scrollbar-button:horizontal:end {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAADFBMVEX///86QFA6QFA6QFDNKm7MAAAAA3RSTlMAdxHwuAsdAAAAKklEQVR42qXOMQ4AAAjCQJH//9m41sFEO95AiHNJsAgUU9yygZZRjWOPCidsAEkT2koWAAAAAElFTkSuQmCC) #282b35
}

::-webkit-scrollbar-track-piece {
    background-color: #282b35;
    border-left: 1px solid #282b35
}

::-webkit-scrollbar-thumb {
    background: #3a4050;
    border-left: 1px solid #282b35
}

::-webkit-scrollbar-corner {
    background-color: #3a4050
}